<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <setting1>
    <levelmoney1>100</levelmoney1>
    <levelmoney2>320</levelmoney2>
    <levelmoney3>800</levelmoney3>
    <levelmoney4>1839</levelmoney4>
    <levelmoney5>4045</levelmoney5>
    <levelmoney6>8494</levelmoney6>
    <levelmoney7>17837</levelmoney7>
    <levelmoney8>36922</levelmoney8>
    <levelmoney9>75690</levelmoney9>
    <levelmoney10>-1</levelmoney10>
    <levelmoney11>0</levelmoney11>
    <levelmoney12>0</levelmoney12>
    <levelmoney13>0</levelmoney13>
    <levelmoney14>0</levelmoney14>
    <levelmoney15>0</levelmoney15>
    <levelmoney16>0</levelmoney16>
    <levelmoney17>0</levelmoney17>
    <levelmoney18>0</levelmoney18>
    <levelmoney19>0</levelmoney19>
    <levelmoney20>0</levelmoney20>
    <magnification2>3.2</magnification2>
    <magnification3>2.5</magnification3>
    <magnification4>2.3</magnification4>
    <magnification5>2.2</magnification5>
    <magnification6>2.1</magnification6>
    <magnification7>2.1</magnification7>
    <magnification8>2.07</magnification8>
    <magnification9>2.05</magnification9>
    <magnification10>0</magnification10>
    <magnification11>2.3</magnification11>
    <magnification12>2.2</magnification12>
    <magnification13>2.1</magnification13>
    <magnification14>2.1</magnification14>
    <magnification15>2.1</magnification15>
    <magnification16>2.1</magnification16>
    <magnification17>2.1</magnification17>
    <magnification18>2.1</magnification18>
    <magnification19>2.1</magnification19>
    <magnification20>2.1</magnification20>
  </setting1>
  <setting2>
    <levelmoney1>200</levelmoney1>
    <levelmoney2>640</levelmoney2>
    <levelmoney3>1920</levelmoney3>
    <levelmoney4>5376</levelmoney4>
    <levelmoney5>13977</levelmoney5>
    <levelmoney6>34942</levelmoney6>
    <levelmoney7>87355</levelmoney7>
    <levelmoney8>218387</levelmoney8>
    <levelmoney9>545967</levelmoney9>
    <levelmoney10>1310320</levelmoney10>
    <levelmoney11>3013736</levelmoney11>
    <levelmoney12>6630219</levelmoney12>
    <levelmoney13>13923459</levelmoney13>
    <levelmoney14>29239263</levelmoney14>
    <levelmoney15>61402452</levelmoney15>
    <levelmoney16>128945149</levelmoney16>
    <levelmoney17>270784812</levelmoney17>
    <levelmoney18>568648105</levelmoney18>
    <levelmoney19>1194161020</levelmoney19>
    <levelmoney20>-2147483648</levelmoney20>
    <magnification2>3.2</magnification2>
    <magnification3>3.0</magnification3>
    <magnification4>2.8</magnification4>
    <magnification5>2.6</magnification5>
    <magnification6>2.5</magnification6>
    <magnification7>2.5</magnification7>
    <magnification8>2.5</magnification8>
    <magnification9>2.5</magnification9>
    <magnification10>2.4</magnification10>
    <magnification11>2.3</magnification11>
    <magnification12>2.2</magnification12>
    <magnification13>2.1</magnification13>
    <magnification14>2.1</magnification14>
    <magnification15>2.1</magnification15>
    <magnification16>2.1</magnification16>
    <magnification17>2.1</magnification17>
    <magnification18>2.1</magnification18>
    <magnification19>2.1</magnification19>
    <magnification20>2.1</magnification20>
  </setting2>
  <setting3>
    <levelmoney1>300</levelmoney1>
    <levelmoney2>960</levelmoney2>
    <levelmoney3>2880</levelmoney3>
    <levelmoney4>8063</levelmoney4>
    <levelmoney5>20963</levelmoney5>
    <levelmoney6>52407</levelmoney6>
    <levelmoney7>131017</levelmoney7>
    <levelmoney8>327542</levelmoney8>
    <levelmoney9>818855</levelmoney9>
    <levelmoney10>1965252</levelmoney10>
    <levelmoney11>4520079</levelmoney11>
    <levelmoney12>9944173</levelmoney12>
    <levelmoney13>20882763</levelmoney13>
    <levelmoney14>43853802</levelmoney14>
    <levelmoney15>92092984</levelmoney15>
    <levelmoney16>193395266</levelmoney16>
    <levelmoney17>406130058</levelmoney17>
    <levelmoney18>852873121</levelmoney18>
    <levelmoney19>1791033554</levelmoney19>
    <levelmoney20>-2147483648</levelmoney20>
    <magnification2>3.2</magnification2>
    <magnification3>3.0</magnification3>
    <magnification4>2.8</magnification4>
    <magnification5>2.6</magnification5>
    <magnification6>2.5</magnification6>
    <magnification7>2.5</magnification7>
    <magnification8>2.5</magnification8>
    <magnification9>2.5</magnification9>
    <magnification10>2.4</magnification10>
    <magnification11>2.3</magnification11>
    <magnification12>2.2</magnification12>
    <magnification13>2.1</magnification13>
    <magnification14>2.1</magnification14>
    <magnification15>2.1</magnification15>
    <magnification16>2.1</magnification16>
    <magnification17>2.1</magnification17>
    <magnification18>2.1</magnification18>
    <magnification19>2.1</magnification19>
    <magnification20>2.1</magnification20>
  </setting3>
  <setting4>
    <levelmoney1>400</levelmoney1>
    <levelmoney2>1280</levelmoney2>
    <levelmoney3>3840</levelmoney3>
    <levelmoney4>10752</levelmoney4>
    <levelmoney5>27955</levelmoney5>
    <levelmoney6>69887</levelmoney6>
    <levelmoney7>174717</levelmoney7>
    <levelmoney8>436792</levelmoney8>
    <levelmoney9>1091980</levelmoney9>
    <levelmoney10>2620752</levelmoney10>
    <levelmoney11>6027729</levelmoney11>
    <levelmoney12>13261003</levelmoney12>
    <levelmoney13>27848106</levelmoney13>
    <levelmoney14>58481022</levelmoney14>
    <levelmoney15>122810146</levelmoney15>
    <levelmoney16>257901306</levelmoney16>
    <levelmoney17>541592742</levelmoney17>
    <levelmoney18>1137344758</levelmoney18>
    <levelmoney19>-2147483648</levelmoney19>
    <levelmoney20>-2147483648</levelmoney20>
    <magnification2>3.2</magnification2>
    <magnification3>3.0</magnification3>
    <magnification4>2.8</magnification4>
    <magnification5>2.6</magnification5>
    <magnification6>2.5</magnification6>
    <magnification7>2.5</magnification7>
    <magnification8>2.5</magnification8>
    <magnification9>2.5</magnification9>
    <magnification10>2.4</magnification10>
    <magnification11>2.3</magnification11>
    <magnification12>2.2</magnification12>
    <magnification13>2.1</magnification13>
    <magnification14>2.1</magnification14>
    <magnification15>2.1</magnification15>
    <magnification16>2.1</magnification16>
    <magnification17>2.1</magnification17>
    <magnification18>2.1</magnification18>
    <magnification19>2.1</magnification19>
    <magnification20>2.1</magnification20>
  </setting4>
  <setting5>
    <levelmoney1>500</levelmoney1>
    <levelmoney2>1600</levelmoney2>
    <levelmoney3>4800</levelmoney3>
    <levelmoney4>13440</levelmoney4>
    <levelmoney5>34944</levelmoney5>
    <levelmoney6>87360</levelmoney6>
    <levelmoney7>218400</levelmoney7>
    <levelmoney8>546000</levelmoney8>
    <levelmoney9>1365000</levelmoney9>
    <levelmoney10>3276000</levelmoney10>
    <levelmoney11>7534799</levelmoney11>
    <levelmoney12>16576557</levelmoney12>
    <levelmoney13>34810769</levelmoney13>
    <levelmoney14>73102614</levelmoney14>
    <levelmoney15>153515489</levelmoney15>
    <levelmoney16>322382526</levelmoney16>
    <levelmoney17>677003304</levelmoney17>
    <levelmoney18>1421706938</levelmoney18>
    <levelmoney19>-2147483648</levelmoney19>
    <levelmoney20>-2147483648</levelmoney20>
    <magnification2>3.2</magnification2>
    <magnification3>3.0</magnification3>
    <magnification4>2.8</magnification4>
    <magnification5>2.6</magnification5>
    <magnification6>2.5</magnification6>
    <magnification7>2.5</magnification7>
    <magnification8>2.5</magnification8>
    <magnification9>2.5</magnification9>
    <magnification10>2.4</magnification10>
    <magnification11>2.3</magnification11>
    <magnification12>2.2</magnification12>
    <magnification13>2.1</magnification13>
    <magnification14>2.1</magnification14>
    <magnification15>2.1</magnification15>
    <magnification16>2.1</magnification16>
    <magnification17>2.1</magnification17>
    <magnification18>2.1</magnification18>
    <magnification19>2.1</magnification19>
    <magnification20>2.1</magnification20>
  </setting5>
</configuration>